header{
  /* height: 100px; */
  width: 100%;
  
}

.logo{
  display: inline-block;
  vertical-align: middle;
}
.fst-menu{
  display: inline-block;
  margin-left: -15px;
}

.fst-menu ul li a{
  margin-left: 15px;
  color: black;
}

.spazio{
  display: inline-block;
}

.snd-menu{
  display: inline-block;
  margin-left: -50px;
}
.snd-menu ul li a{
  color: black;
  margin-left: 15px;
}
.sx-col{
  padding-top: 25px;
}
.button{
  display: inline-block;
  padding-left: 15px;
  color: white;
}
.btn-top{
  color:white;
  background-color: rgb(34, 160, 209);
  padding: 5px 8px;
  border: none;
}
/* fine header top */


/* inizio jumbotron */


.title h1{
  font-size: 60px;
  padding-top: 20px;
  
}
.title{
  padding-left: 10%;
  padding-right: 10%;
}
.scn-header{
  background-color: rgb(180, 231, 255);
  margin-top: 20px;
  
}

.btn{
  margin-top: 15px;
  color: white;
  padding: 8px 16px;
  background-color: blue;
  border: none;
}

.jumbimg{
  background-image: url(img/jumbo.png);
  background-size: cover;
  background-position: center;
  background-repeat: none;
}
.ltt-text{
  font-size: 12px;
}


/* fine jumbotron e header */


.titleh2{
  font-size: 20px;
  padding-bottom: 25px;
}
.test{
  padding-left: 40px;
}

.col{
  margin-top: 20px;
  
  height: 550px;
  padding: 20px;
}
.btn.text-center{
  margin-top: 40px;
  margin-bottom: 30px;
}

.card{
  border: 1px solid lightgray;
}
.col-title{
  border: 1px solid gray ;
}

.seconda ul li::before{
  content: "\2713";
  color: blue;
}
.titl-inline{
  display: inline-block;
}

.btn.row{
  float: right;
  vertical-align: middle;
  
}
/* pausa */

.section2.container.clearfix{
  margin-top: 100px;
}
.img{
  background-image: url(img/partner.png);
  height: 400px;
  background-size: cover;
  width: calc(100%/2);
}
.card2{
  padding:40px
}
.imgtitle{
  font-size: 25px;
  padding-bottom: 25px;
}
/* inizio 3 sezione */
.section3.container.clearfix{
  margin-top: 80px;
}
.element{
  padding: 10px;
}
.divimg{
  background-image: url(img/business-feature-switching-tools.png);
  height: 220px;
  width: 100%;
  background-size: cover;
}
.divimg2{
  background-image: url(img/business-feature-coordinate-it.png);
  height: 220px;
  width: 100%;
  background-size: cover;
}
.divimg3{
  background-image:url(img/business-feature-multi-device.png);
  height: 220px;
  width: 100%;
  background-size: cover;
}
.divimg4{
  background-image: url(img/business-feature-integrations-it.png);
  height:220px;
  width: 100%;
  background-size: cover;
}
.divimg5{
  background-image: url(img/business-feature-send-files-it.png);
  height:220px;
  width: 100%;
  background-size: cover;
}
.divimg6{
  background-image: url(img/business-feature-security.png);
  height:220px;
  width: 100%;
  background-size: cover;
}
.element p{
  margin-top: 20px;
}

/* sezione 5 */
.section5.titleh2 h2{
  margin-top: 500px;
}
/* sezione 6 */
.sx{
  height: 400px;
}
.center{
  height: 400px;
}
.dx{
  height: 400px;
}
.imgw2{
  width: 50%;
  height: 50%;
}
.centerimg{
  height: 40px;
  margin-bottom: 20px;
}
.centercontent{
  height: 400px;
  padding: 30px;
  overflow: scroll;
}

/* sezione 7 */
.coloredbox{
  background-color:lightblue;
  height: 300px;
  
}
.coloredbox h1{
  display: inline-block;
  vertical-align: middle;
}
.coloredbox .btn{
  margin-left: 350px;
}
.coloredbox .container{
  padding-top: 125px;

}

/* footer */
.section9.clearfix{
  background-color: black;
  margin-top: 50px;
  /* padding-bottom: 50px; */

}
.footer-list{
  list-style: none;
  
}
.col-footer{
  margin-right: 40px;
  padding-bottom: 40px;
}
.footer-a{
  text-decoration: none;
  color: white;
}
.footer-card{
  padding: 70px;
}
.footer-title{
  color: white;
  font-weight: bolder;
  padding-left: 40px;
  padding-bottom: 20px;
}
.last{
  font-size: 10px;
  color: lightgray;
}
