header{
  height: 70px;
  width: 100%;
  
}
.logo{
  display: inline-block;
  vertical-align: middle;
}
.fst-menu{
  display: inline-block;
  margin-left: -15px;
}

.fst-menu ul li a{
  margin-left: 15px;
  color: black;
}

.spazio{
  display: inline-block;
}

.snd-menu{
  display: inline-block;
  margin-left: -50px;
}
.snd-menu ul li a{
  color: black;
  margin-left: 15px;
}

.button{
  display: inline-block;
  padding-left: 15px;
  color: white;
}
.btn{
  color:white;
  background-color: rgb(34, 160, 209);
  padding: 5px 8px;
  border: none;
}
/* fine header top */


/* inizio jumbotron */


.title h1{
  font-size: 60px;
  
}
.title{
  padding-left: 10%;
  padding-right: 10%;
}
.scn-header{
  background-color: rgb(180, 231, 255);
  
}

.btn-freetrial{
  margin-top: 15px;
  color: white;
  padding: 8px 16px;
  background-color: blue;
  border: none;
}

.jumbimg{
  background-image: url(img/jumbo.png);
  background-size: cover;
  background-position: center;
  background-repeat: none;
}
.ltt-text{
  font-size: 12px;
}


/* fine jumbotron e header */
.titleh2{
  font-size: 20px
}



